* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}
.main {
    margin-left: 60px;
}
.an-part {
    &__topic{
    color: #17372E;
font-size: 73px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
line-height: 80px;
margin-top: 76px;
    }
    &__text {
        color: #17372E;
font-size: 20px;
font-family:"Roboto";
font-style: normal;
font-weight: 400;
line-height: 30px;
max-width: 795px;
margin-top: 52px;
    }
    &__cards {
        margin-top: 110px;
        display: flex;
        justify-content: space-between; 
        max-width: 1200px;
        border-bottom: 2px solid #17372E;
        padding-bottom: 154.5px;
    }
    &__cards-1 {
        padding-left: 24px;
        max-width: 520px;
        padding-right: 24px;
        &__top {
            display: flex;
            border-bottom: 2px solid #17372E;
            width: 472px;
            padding-bottom: 22px;
        }
        &__text {
            color: #17372E;
font-size: 28px;
font-family:"Roboto";
font-style: normal;
font-weight: 400;
line-height: 38.4px;
margin-left: 8px;
margin-top: 18px;
        }
        &__star {
            margin-top: 30px;
        }
        &__main {
            display: flex;

            &__text {
                margin-top: 22px;
                /* width: 235px; */
                margin-left: 89px;
            }

            &__text-1 {
                color: #17372E;
font-size: 16px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
line-height: 24px;
padding-bottom: 5px;
            }
        }
        &__free {
            color: #17372E;
font-size: 72px;
font-family: "Roboto";
font-style: normal;
font-weight: 500;
line-height: 88px;
        }
        &__button {
            display: flex;
            border-radius: 7px;
background: #F94E41;
width: 472px;
height: 54px;
margin-top: 227px;
align-items: center;
justify-content: center;
margin-bottom: 23px;
        }
        &__button-text {
            color: #FFF;
text-align: center;
font-size: 16px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 1.28px;
text-transform: uppercase;
padding-left: 8px;
        }
    }
    &__cards-2 {
        border-radius: 7px;
background: #FFD8D7;
padding-left: 24px;
max-width: 520px;
padding-right: 24px;

    &__top {
        display: flex;
        border-bottom: 2px solid #17372E;
            width: 472px;
            padding-bottom: 22px;
    }
    &__text__time {
        display: flex;
        color: #17372E;
font-size: 14px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
line-height: 15.4px;
letter-spacing: 1.12px;
text-transform: uppercase;
margin-top: 32px;
margin-left: 120px;
    }
    &__text__month {
        padding-left: 16px;
    }

    &__main__left-cost {
        display: flex;
        border-bottom: 2px solid #17372E;
        width: 173px;
        padding-bottom: 25px;
    }
    &__cost {
        padding-top: 70px;
        color: #17372E;
font-size: 16px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
line-height: 24px;
    }
    &__save {
        color: #F94E41;
font-size: 16px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
line-height: 24px;
width: 116px;
padding-top: 14px;
    }
    &__main__left {
       display: flex;
    }
    &__main__text {
        color: #17372E;
font-size: 16px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
line-height: 24px;
padding-left: 64px;
padding-top: 22px;
    }
    &__main__text-1 {
        padding-bottom: 5px;
    }
    &__button {
        display: flex;
        border-radius: 7px;
background: #F94E41;
width: 472px;
height: 54px;
margin-top: 33px;
align-items: center;
justify-content: center;
margin-bottom: 23px;
    }
    &__button-text {
        color: #FFF;
text-align: center;
font-size: 16px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 1.28px;
text-transform: uppercase;
padding-left: 8px;
    }
    }

    &__friend {
        display: flex;
        max-width: 1200px;
        margin-top: 95px;
        justify-content: space-between;

        &_topic {
            color: #17372E;
font-size: 80px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
line-height: 88px;
max-width: 358px;
        }
        &_text {
            color: #17372E;
font-size: 20px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
line-height: 30px;
max-width: 404px;
margin-top: 40px;
        }
        &_button {
            border-radius: 7px;
background: #FFD8D7;
margin-top: 20px;
width: 161px;
height: 38px;
color: #F94E41;
text-align: center;
font-size: 16px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 1.28px;
text-transform: uppercase;
align-items: center;
padding-top: 11px;
        }

    }

}